# Logs
logs
*.log
npm-debug.log*

# Lock files (we use pnpm)
package-lock.json
npm-shrinkwrap.json
yarn.lock

.env
node_modules
dist

# Turborepo
.turbo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
